

.container {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: minmax(auto, auto);
}

.brand {
  grid-column: 1 / span 4;
  grid-row: 1;
  color:rgb(183, 79, 166);
  font-size: 50px;
  font-family: 'Dancing Script', cursive;
  align-self: center;
  justify-self: center;
}

.header {
  grid-column: 3 / span 1;
  grid-row: 2;
  /* font-family: 'Dancing Script', cursive; */
  word-spacing: 30px;
  align-self: center;
  justify-self: right;
}

.menu {
  grid-column: 2 / span 2;
  grid-row: 3;
  font-family: 'Dancing Script', cursive;
  word-spacing: 30px;
  align-self: center;
  justify-self: left;
}

.footer {
  grid-column: 3 / span 1;
  grid-row: 20;
  font-family: 'Dancing Script', cursive;
  align-self: center;
  justify-self: right;
}

.col2 {
  background-color: rgb(37, 23, 97);
}

.col3 {
  background-color: rgb(97, 43, 23);
}

.title {
  background-color: red;
}